@media screen and (max-width: 1400px) {

  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 5rem;
  justify-content: space-around;
  gap: .1rem;
}

article h3 {
  font-size: .7rem;
}

article p {
  font-size: .5rem;
}

.loading-underline {
  position: relative;
  display: inline-block;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 1rem;
}

.loading-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 8px;
  background-color: rgb(173, 173, 173);
  border-radius: 5px;
  opacity: 0; /* Start with invisible underline */
  animation: underlineAnimation 3s ease-in-out infinite; /* Infinite loop */
}

/* Keyframe for the entire animation cycle */
@keyframes underlineAnimation {
  0% {
    width: 0;
    opacity: 0;
    left: 0; /* Start from the left */
  }
  50% {
    width: 100%;
    opacity: 1;
    left: 0; /* Stay at the left, fully visible */
  }
  100% {
    width: 0;
    opacity: 0;
    left: 100%; /* Move to the right and fade out */
  }
}
  .menu-links a {
    font-size: 1.2rem;
  }
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 5rem;
  justify-content: space-around;
  gap: .1rem;
}

article h3 {
  font-size: .6rem;
}

article p {
  font-size: .4rem;
}

.loading-underline {
  position: relative;
  display: inline-block;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 1rem;
}

.loading-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 6px;
  background-color: rgb(173, 173, 173);
  border-radius: 5px;
  opacity: 0; /* Start with invisible underline */
  animation: underlineAnimation 3s ease-in-out infinite; /* Infinite loop */
}

/* Keyframe for the entire animation cycle */
@keyframes underlineAnimation {
  0% {
    width: 0;
    opacity: 0;
    left: 0; /* Start from the left */
  }
  50% {
    width: 100%;
    opacity: 1;
    left: 0; /* Stay at the left, fully visible */
  }
  100% {
    width: 0;
    opacity: 0;
    left: 100%; /* Move to the right and fade out */
  }
}
  .menu-links a {
    font-size: 0.85rem;
  }
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 10px;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}